#body{
    background-image: url("wp4013129-apex-legends-hd-wallpapers.jpg");
    background-position: center ;
    background-repeat: repeat;
    background-attachment: scroll;
}

footer{
    background-color: skyblue;
}
